@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;1,200&family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,500&family=Sniglet:wght@400;800&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2f363e;
}

.container {
    position: relative;
    background: #2f363e;
    /* min-height: 500px; */
    border-radius: 20px;
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.75),
        10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25),
        inset 5px 5px 10px rgba(0, 0, 0, 0.25),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #2f363e;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 11;

}

.clock span {
    position: absolute;
    inset: 20px;
    color: white;
    text-align: center;
    transform: rotate(calc(30deg*var(--i)));
}

.clock span b {
    font-size: 2rem;
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
    font-weight: 600;
    opacity: 0.4;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    z-index: 10;
}

.circle:nth-child(1) i {
    width: 2px;
}

.circle:nth-child(2) i {
    width: 6px;
}

.circle:nth-child(3) i {
    width: 6px;
}

.circle2 {
    width: 240px;
    height: 240px;
    z-index: 9;
}

.circle3 {
    width: 180px;
    height: 180px;
    z-index: 8;
}

.circle::before {
    position: absolute;
    content: '';
    top: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr),
        0 0 60px var(--clr)
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
    font-size: 2rem;
    border-radius: 50px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
        inset 5px 5px 20px rgba(255, 255, 255, 0.2),
        inset -5px -5px 15px rgba(0, 0, 0, 0.75);
        
}
#time div{
    width: 60px;
    text-align: center;
    color: var(--clr);
}
#time div:nth-child(1)::after,
#time div:nth-child(2)::after{
    content: ':';
    margin-left: 5px;
}
#time div:last-child{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}